$a-color: #ffffff;
$body-color: #131416;
$color-1: #18BB4E;
$color-2: #eb1839;
$color-3: #24242990;
$color-4: #53ADE4;
$whatsapp-green: #25d366; 

$hover-color-1: #12893a;
$hover-color-2: #911e21;
$button-color: #53ADE4;


$main-color: #131416;
$accent-color: linear-gradient(45deg,#2478ad, #18BB4E, #12893a);
$flash-text: "Click to get an id";
